/* Test */
#chat-messages::-webkit-scrollbar 
{
        width:                          10px !important;
}
 
/* Track */
#chat-messages::-webkit-scrollbar-track 
{
        -webkit-box-shadow:             inset 0 0 3px rgba(0,0,0,0.3) !important; 
        -webkit-border-radius:          0px !important;
        border-radius:                  0px !important;
}
 
/* Handle */
#chat-messages::-webkit-scrollbar-thumb 
{
        -webkit-border-radius:          1px !important;
        border-radius:                  0px !important;
        background:                     rgba(84, 123, 201, 1) !important; 
        -webkit-box-shadow:             inset 0 0 0 0 rgba(0,0,0,0.5) !important; 
}

/* New Comment */
